<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Server</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="static/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span
                class="sr-only">Toggle navigation</span><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% if cur_user != None%}
            <li>
                <a href="/system">System</a>
            </li>
            <li class="active">
                <a href="/lifecycle">LifeCycle</a>
            </li>
            {% end %}
            <li>
                <a href="/permission">User Permission</a>
            </li>
            <li>
                <a href="/discuss">Discuss</a>
            </li>
            <li>
                <a href="/doc">Doc</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if cur_user == None%}
            <li>
                <a href="/login">Login</a>
            </li>
            {% else %}
            <li>
                <a href="/user">{{ cur_user }}</a>
            </li>
            {% end %}
        </ul>
    </div>

</nav>

<table class="table">
    <thead>
    <tr>
        <th>
            UID
        </th>
        <th>
            USERNAME
        </th>
        <th>
            LIFECYCLE
        </th>
        <th>
            REASON
        </th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_lifecycle_list %}
    <tr>
        <td>
            {%raw user['uid']%}
        </td>
        <td>
            {%raw user['username']%}
        </td>
        <td>
            {%raw user['lifecycle']%}
        </td>
        <td>
            {%raw user['reason']%}
        </td>
    </tr>
    {% end %}
    </tbody>
</table>

</body>
</html>